<div class="custom-modal-overlay" ng-controller="ModalController as MC" ng-show="MC.isModalOpen" ng-click="MC.closeModal($event)">
  <div class="custom-modal" ng-click="$event.stopPropagation()"> <!-- Stop propagation only for the modal content -->
    <div class="custom-modal-header">
        <h3>Modal Title</h3>
        <button class="close-button" ng-click="MC.closeModal($event)">×</button>
    </div>
    <div class="custom-modal-body">
        <p>This is a sample modal window.</p>
    </div>
    <div class="custom-modal-footer">
        <button class="button" ng-click="MC.closeModal($event)">Close</button> <!-- Close button working -->
    </div>
  </div>
</div>
