<div class="header-users__list">
  <button class="button" ng-click="UsersListController.openModal()">Create User</button>
  <custom-modal footer-close="true" modal-title="Create new user" is-open="UsersListController.isModalOpen" close-modal="UsersListController.closeModal()">
    <form name="userForm" novalidate ng-controller="UsersListController as UsersListController">
      <!-- Username Field -->
      <custom-text-input 
        ng-model="user.username" 
        name="username" 
        label="Username"
        required="true"
        placeholder="Enter username"
      ></custom-text-input>
      
      <!-- First Name Field -->
      <custom-text-input 
        ng-model="user.firstName" 
        name="firstName" 
        label="First name" 
        required="true"
        placeholder="Enter first name"
      ></custom-text-input>
      
      <!-- Last Name Field -->
      <custom-text-input 
        ng-model="user.lastName" 
        name="lastName" 
        label="Last name" 
        required="true"
        placeholder="Enter last name"
      ></custom-text-input>
      
      <!-- Email Field -->
      <custom-email-input 
        ng-model="user.email" 
        name="email" 
        label="Email" 
        required="true"
        placeholder="example@domain.com"
      ></custom-email-input>
      
      <!-- Type Field -->
      <div class="form-group">
        <label>Type<span>*</span></label>
        <select 
          class="form-control" 
          ng-model="user.type" 
          name="type"
          required-validator
        >
          <option value="" disabled selected>Select type</option>
          <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
        </select>
        <div class="error-message">Type is required</div>
      </div>
      
      <!-- Password Field -->
      <custom-password-input 
        ng-model="user.password" 
        name="password" 
        label="Password" 
        required="true"
        placeholder="********"
      ></custom-password-input>
      
      <!-- Repeat Password Field -->
      <custom-password-input 
        ng-model="user.repeatPassword" 
        name="repeatPassword" 
        label="Repeat password" 
        required="true"
        placeholder="********"
        match-with="user.password"
        match-with-required="true"
      ></custom-password-input>
      
      <!-- Submit Button -->
      <button class="user-create_button button" ng-click="UsersListController.createUser()">Create</button>
    </form>
  </custom-modal>
</div>