.user-create_button {
  font-size: 16px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
}

.user-create_button:hover {
  background-color: #096dd9;
}

.user-create__form, .user-edit__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}